---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>Syntax Construction</title>
    </head>
    <body>
        <h1>Syntax Construction</h1>
        <div>4311 Paradise Valley Rd</div>
        <div>Brackendale, BC V0N1H0</div>
    </body>
</html>
